@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

#body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}
h1 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.8em;
  color: black;
}

h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.8em;
  color: white;
}

h3 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.1em;
  color: white;
}
p {
  font-family: "Montserrat";
  font-weight: 200;
  font-size: 1em;
  text-transform: uppercase;
  color: black;
}

a {
  color: white;
  text-decoration: none;
}
/* STARTSEITE */

#textbox {
  position: relative;
  margin-top: 5%;
  text-transform: none;
  width: 100%;
}

#bg-img {
  position: absolute;
  height: 40%;
  width: 100vw;
  top: 0;
  z-index: 0;
  background-image: url("images/header.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  z-index: 0;
}

#container {
  position: relative;
  width: 40vw;
  z-index: 100;
  margin-left: 10%;
  margin-top: 50vh;
  padding: 15px;
}
#logobox{
  width: 300px;
  height: auto;
  position: absolute;
  bottom: 10%;
  right: 10%;
  display: flex;
  flex-direction: column;
}
#dhbwlogo{
  width: 200px;
  height: 70px;
  object-fit: cover;
}

#onlogo {
  width: 300px;
  height: 70px;
  object-fit: cover;
}
/* NAVIGATION */

nav {
  position: absolute;
  top: 0;
  padding-top: 3%;
  left: 0;
  padding-left: 10%;
  width: 90vw;
  height: 6%;
  display: block;
  background-color: black;
  z-index: 100;
}

nav ul {
  list-style: none;
  width: 80%;
}

nav ul li {
  position: relative;
  float: left;
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.1em;
  color: white;
  padding-right: 3%;
}

nav a {
  padding: 15px;
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #88bc48;
}

#logo {
  float: right;
  padding-right: 5%;
  margin-top: -20px;
  width: 150px;
  height: 50px;
  object-fit: cover;
  background-position: center;
}

.active {
  color: #88bc48;
}

.fa-id-card::before,
.fa-home:before,
.fa-th-large:before,
.fa-address-card-o:before {
  padding: 10px;
}

nav::after {
  clear: both;
}

/* BLACK BOX */

#background {
  background-color: black;
  height: 50vh;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 0;
}

/* CONTENT */

#wrapper {
  width: 60%;
  height: 100%;
  z-index: 100;
  margin-top: 15%;
}

#content-top {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: baseline;
  height: 8%;
}

.line {
  display: block;
  width: 70px;
  background-color: white;
  height: 8px;
  border-radius: 4px;
  margin-bottom: 10%;
}
#st-line,
.popup .line {
  display: block;
  width: 70px;
  background-color: black;
  height: 8px;
  border-radius: 4px;
  margin-bottom: 2%;
}

.course {
  margin: 0 auto;
}
#counter {
  width: 15%;
  height: 10px;
  margin-right: 6%;
  font-family: "Montserrat";
  font-weight: 200;
  font-size: 1em;
  color: white;
}

#content-bottom {
  margin-top: 2%;
}

/* CLOSE/CANCEL BUTTON */

.cancel {
  background-color: rgba(0, 0, 0, 0);
}
.cancel span {
  display: block;
  width: 20px;
  height: 4px;
  border-radius: 4px;
  background-color: white;
}

.cancel span:nth-child(1) {
  transform: translateY(0px) rotate(45deg);
}

.cancel span:nth-child(2) {
  transform: translateY(-4px) rotate(135deg);
}

/* INDEX CARD */

.card-container {
  width: 100%;
  height: 55%;
  margin-top: 2%;
}
.index-card {
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0px 0px 45px 8px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: 0px 0px 45px 8px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 0px 45px 8px rgba(0, 0, 0, 0.33);
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  perspective: 600;
  transition: all 0.5s ease;
}

/* FLIP */

.side {
  backface-visibility: hidden;
  height: 90%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_hover {
  transform: rotateY(180deg);
}
.card_hover .card--back {
 width: 100%;
 height: 100%;
 border: solid 3px white;
}

.card--front {
  display: none;
}
.card--front.display {
  display: flex;
}
.card--back .img,
.card--front .img {
  object-fit: contain;
  border: solid 0px white;
  width: 100%;
  height: 100%;
}

.card--back {
  transform: rotateY(180deg);
  display: none;
  flex-direction: column;
  height: 90%;
  width: 50%;
}

.card--back.display {
  display: flex;
}

/* BUTTONS */
#check {
  display: none;
  margin: 5% 5%;
}
#multi {
  display: none;
}


.button {
  position: relative;
  margin: 5% auto;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.button.-next {
  display: none;
  margin-right: 0;
  width: 100%;
}
.-next h2 {
  width: 70%;
  align-self: flex-start;
}
.-next #next {
  width: 30%;
}
.button a,
.button div {
  position: relative;
  width: 40%;
  height: 50px;
  border-radius: 25px;
  margin: 0 2%;
}

.right div,
.false div {
  margin: 0;
  height: auto;
  width: auto;
}

.select {
  background-color: black;
}


#popup-round .button {
  margin-left: 10%;
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1em;
  color: white;
  width: 90%;
}

#multi div:first-child{
  margin-left: 0;
}
#multi div:last-child{
  margin-right: 0;
}
#newCourse,
#next,
.multbutton{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  cursor: pointer;
}
.multbutton:hover{
  background-color: white;
  border: solid 1px black;
  color: black;
}


#continue,
.right {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #88BC48;
  cursor: pointer;
}


.false {
  background-color: salmon;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}


.ok span {
  display: block;
  width: 20px;
  height: 4px;
  border-radius: 4px;
  background-color: white;
}
.ok span:nth-child(1) {
  width: 10px;
  transform: translateY(3px) translateX(2px) rotate(45deg);
}

.ok span:nth-child(2) {
  transform: translateY(-4px) translateX(5px) rotate(135deg);
}

.btn-method,
.btn-course {
  text-align: center;
}
.btn-method div,
.btn-course div {
  width: 20%;
  height: 10%;
  border-radius: 25px;
  margin: 0 5%;
  display: inline-block;
  margin-top: 11%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.btn-method div {
  width: 30%;
}

.btn-method div:hover,
.btn-course div:hover {
  background-color: black;
  cursor: pointer;
}

.btn-method div p,
.btn-course div p {
  text-align: center;
  padding: 6%;
  color: white;
  font-weight: 700;
}


/* POPUP */
.blur {
  filter: blur(30px);
}

.popup {
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: white;
  z-index: 200;
  box-shadow: 0px 0px 45px 8px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: 0px 0px 45px 8px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 0px 45px 8px rgba(0, 0, 0, 0.33);
}
.popup h3 {
  color: black;
  margin-top: 10%;
  margin-left: 10%;
}

#popup-first {
  display: block;
}
#popup-round {
  display: none;
  align-items: center;
  height: 70%;
  width: 60%;
}

.close {
  float: right;
  margin-top: 5%;
  margin-right: 5%;
}
.close span {
  background-color: black;
}

/* UEBERSICHTSEITE*/


#headline-uebersicht {
  position: absolute;
  top: 20%;
  left: 12%;
}

#headline-uebersicht h2 {
  color: black;
}


.auswahl-uebersicht {
  width: 35%;
  height: 35%;
  right: 9%;
  position: absolute;
  top: 15%;
}

#bilder-container {
  width: 76%;
  height: 65%;
  background-color: white;
  box-shadow: 0px 0px 45px 8px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 0px 45px 8px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 0px 45px 8px rgba(0, 0, 0, 0.16);
  transition: all 0.5s ease;
  position: absolute;
  left: 12%;
  top: 30%;
  overflow-y: scroll;
  text-align: center;
}

#bilder-container ul li {
  list-style: none;
  display: inline-block;
  padding: 50px;
}

#bilder-container ul li img {
  width: 150%;
}

.chart{
  padding-top: 5%;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup h4 {
  position: absolute;
  color: black;
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  z-index: 100;
}