@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.8em;
  color: white;
}

h3 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.1em;
  color: white;
}
p {
  font-family: "Montserrat";
  font-weight: 200;
  font-size: 1em;
  text-transform: uppercase;
  color: grey;
}
/* NAVIGATION */

nav {
  position: absolute;
  top: 3%;
  left: 10%;
  width: 100vw;
  height: 10%;
  display: block;
}
nav ul {
  list-style: none;
}

nav ul li {
  position: relative;
  float: left;
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.1em;
  color: white;
  padding-right: 3%;
}

nav a {
  padding: 15px;
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #88bc48;
}

#logo {
  margin-left: 30%;
  width: 100px;
}

.active {
  background-color: #88bc48;
}

.fa-home:before {
  padding: 10px;
}

.fa-th-large:before {
  padding: 10px;
}

.fa-address-card-o:before {
  padding: 10px;
}

nav::after {
  clear: both;
}

/* BALCK BOX */

#background {
  background-color: black;
  height: 50vh;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 0;
}

/* CONTENT */

#wrapper {
  width: 60%;
  height: 100%;
  z-index: 100;
  margin-top: 15%;
}

#content-top {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: baseline;
  height: 8%;
}

.line {
  display: block;
  width: 70px;
  background-color: white;
  height: 8px;
  border-radius: 4px;
  margin-bottom: 10%;
}
.course {
  margin: 0 auto;
}
#counter {
  width: 15%;
  height: 10px;
  margin-right: 6%;
  font-family: "Montserrat";
  font-weight: 200;
  font-size: 1em;
  color: white;
}

#content-bottom {
  margin-top: 2%;
}

/* CLOSE/CANCEL BUTTON */

.cancel {
  background-color: rgba(0, 0, 0, 0);
}
.cancel span {
  display: block;
  width: 20px;
  height: 4px;
  border-radius: 4px;
  background-color: white;
}

.cancel span:nth-child(1) {
  transform: translateY(0px) rotate(45deg);
}

.cancel span:nth-child(2) {
  transform: translateY(-4px) rotate(135deg);
}

/* INDEX CARD */

.card-container {
  width: 100%;
  height: 55%;
  margin-top: 2%;
}
.index-card {
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0px 0px 45px 8px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: 0px 0px 45px 8px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 0px 45px 8px rgba(0, 0, 0, 0.33);
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  perspective: 600;
  transition: all 0.5s ease;
}

/* FLIP */

.side {
  backface-visibility: hidden;
  height: 90%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_hover {
  transform: rotateY(180deg);
}

.card--front {
  display: none;
}
.card--front.display {
  display: flex;
}

.card--front .img {
  background-color: rosybrown;
  object-fit: cover;
  border: solid 0px white;
  width: 100%;
  height: 100%;
}
.card--back {
  transform: rotateY(180deg);
  display: none;
  flex-direction: column;
}
.card--back .img {
  background-color: rosybrown;
  object-fit: cover;
  border: solid 0px white;
  width: 70%;
  height: 70%;
  margin-bottom: 5%;
}
.card--back p,
.card--back h3 {
  font-size: 1.2rem;
  color: black;
}

.card--back.display {
  display: flex;
}

/* BUTTONS */
#check {
  display: none;
}

.button {
  position: relative;
  margin: 5% 10%;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.button div {
  position: relative;
  width: 30%;
  height: 50px;
  border-radius: 25px;
  margin: 0 5%;
}
#popup-round .button {
  margin-left: 0;
  margin-top: 15%;
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1em;
  color: white;
}

#continue,
.right {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #88bc48;
  cursor: pointer;
}
.exit,
.false {
  background-color: salmon;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.right div,
.false div {
  margin: 0;
  height: auto;
  width: auto;
}
.ok span {
  display: block;
  width: 20px;
  height: 4px;
  border-radius: 4px;
  background-color: white;
}
.ok span:nth-child(1) {
  width: 10px;
  transform: translateY(3px) translateX(2px) rotate(45deg);
}

.ok span:nth-child(2) {
  transform: translateY(-4px) translateX(5px) rotate(135deg);
}
.btn-course {
  text-align: center;
}

.btn-course div {
  width: 20%;
  height: 35px;
  border-radius: 25px;
  margin: 0 5%;
  display: inline-block;
  margin-top: 11%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.btn-course div:hover {
  background-color: black;
  cursor: pointer;
}

.btn-course div p {
  text-align: center;
  padding: 6%;
  color: white;
  font-weight: 700;
}

/* POPUP */
.blur {
  filter: blur(30px);
}

.popup {
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: white;
  z-index: 200;
  box-shadow: 0px 0px 45px 8px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: 0px 0px 45px 8px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 0px 45px 8px rgba(0, 0, 0, 0.33);
}
.popup h3 {
  color: black;
  margin-top: 10%;
  margin-left: 5%;
}
#popup-first {
  display: none;
}
#popup-round {
  display: none;
}
.close {
  float: right;
  margin-top: 5%;
  margin-right: 5%;
}
.close span {
  background-color: black;
}

div a {
  display: block;
  height: 100%;
  background: #eee;
}
